alabaster==0.7.12
attrs==21.4.0
Babel==2.10.1
beautifulsoup4==4.11.1
bleach==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-default-group==1.2.2
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.11.0
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
fastjsonschema==2.15.3
flatbuffers==2.0
fonttools==4.32.0
furo==2022.4.7
greenlet==1.1.2
gym==0.23.1
gym-notices==0.0.6
halo==0.0.31
iai-common==1.0.0
idna==3.3
imageio==2.17.0
imagesize==1.3.0
importlib-metadata==4.11.3
importlib-resources==5.7.1
incremental==21.3.0
Jinja2==3.1.1
jsonschema==4.4.0
jupyter-client==7.3.0
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.2
log-symbols==0.0.14
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mistune==0.8.4
myst-parser==0.17.2
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nbsphinx==0.8.8
nest-asyncio==1.5.5
networkx==2.8
numpy==1.21.1
opencv-python==4.5.5.64
packaging==21.3
pandocfilters==1.5.0
Pillow==9.1.0
pygame==2.1.2
Pygments==2.11.2
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
scikit-image==0.19.2
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-copybutton==0.5.0
sphinx-favicon==0.2
sphinx-rtd-theme==1.0.0
sphinx_design==0.1.0
sphinx_inline_tabs==2022.1.2b11
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-towncrier==0.2.1a0
spinners==0.0.24
SQLAlchemy==1.4.31
termcolor==1.1.0
tifffile==2022.4.8
tinycss2==1.1.1
tomli==2.0.1
torch==1.11.0
tornado==6.1
towncrier==21.9.0
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
